<script>
  export default {
    data() {
      return {
        modelValue: null,
        large: false,
        tabStyle: false,
        tabs: [
          { text: "My files", value: "files", icon: "Emoji2" },
          { text: "Recent", value: "recent", icon: "Recent" },
          { text: "Shared with me", value: "shared", icon: "Ringer" },
        ],
      };
    },
  };
</script>
<template>
  <fura-pivot
    :large="large"
    :tab-style="tabStyle"
    :tabs="tabs"
    v-model="modelValue"
  />
</template>
