<script>
  export default {
    data() {
      return {
        label: "Base tagPicker",
        description: "tagPicker field without behavior",
        invalid: false,
        errorMessage: null,
        disabled: false,
        required: false,
        borderless: false,
        underlined: false,
        open: false,
        suggestedIndex: -1,
        placeholder: "Pick an element",
        readonly: false,
        autoComplete: false,
        accentInsensitive: false,
        itemsLoaded: true,
        loadingText: "Loading...",
        immediateScroll: false,
        selectedItems: [
          { text: "Mango", value: "mango" },
          { text: "Carrot", value: "carrot" },
        ],
        items: [
          { type: "header", text: "Fruits" },
          { text: "Apple", value: "apple" },
          { text: "Banana", value: "banana" },
          { text: "Mango", value: "mango" },
          { text: "Orange", value: "orange", disabled: true },
          { text: "Passionfruit", value: "passionfruit" },
          { text: "Grape", value: "grape" },
          { type: "divider" },
          { type: "header", text: "Vegetables" },
          { text: "Broccoli", value: "broccoli" },
          { text: "Carrot", value: "carrot" },
          { text: "Lettuce", value: "lettuce" },
        ],
      };
    },
    methods: {
      onSelect(index) {
        const selectedItem = this.items[index];
        if (!this.selectedItems.includes(selectedItem)) {
          this.selectedItems.push(selectedItem);
        }
      },
      onRemove(index) {
        this.selectedItems.splice(index, 1);
      },
      onInput(text) {
        this.open = !!text;
      },
    },
  };
</script>
<template>
  <fura-base-tag-picker
    :label="label"
    :description="description"
    :invalid="invalid"
    :error-message="errorMessage"
    :disabled="disabled"
    :required="required"
    :borderless="borderless"
    :underlined="underlined"
    :open="open"
    :suggested-index="suggestedIndex"
    :placeholder="placeholder"
    :readonly="readonly"
    :auto-complete="autoComplete"
    :accent-insensitive="accentInsensitive"
    :items-loaded="itemsLoaded"
    :loading-text="loadingText"
    :immediate-scroll="immediateScroll"
    :selected-items="selectedItems"
    :items="items"
    @select="onSelect"
    @remove="onRemove"
    @input="onInput"
  />
</template>
