@import "../../theme/mixin.less";
@import "../../theme/typography.less";
@import "../../theme/var-color.less";

label {
  .normalize();
  .fontStyleMedium(@weight: @fontWeightSemibold);
  color: @varNeutralPrimary;
  box-sizing: border-box;
  display: block;
  padding: 5px 0px;
  overflow-wrap: break-word;
}

.fura-disabled {
  color: @varNeutralTertiary;
}

.fura-required::after {
  content: " *";
  color: @varRedDark;
  padding-right: 12px;
}

.fura-disabled.required::after {
  color: @varNeutralTertiary;
}
