<script>
  export default {
    data() {
      return {
        label: "Base dropdown",
        description: "Dropdown field without behavior",
        invalid: false,
        errorMessage: null,
        disabled: false,
        required: false,
        borderless: false,
        underlined: false,
        open: false,
        value: null,
        selectedText: "",
        placeholder: "Pick an element",
        readonly: false,
        multiple: false,
        markedIndex: -1,
        immediateScroll: false,
        options: [
          { type: "header", text: "Fruits" },
          { text: "Apple", value: "apple" },
          { text: "Banana", value: "banana" },
          { text: "Mango", value: "mango" },
          { text: "Orange", value: "orange", disabled: true },
          { text: "Passionfruit", value: "passionfruit" },
          { text: "Grape", value: "grape" },
          { type: "divider" },
          { type: "header", text: "Vegetables" },
          { text: "Broccoli", value: "broccoli" },
          { text: "Carrot", value: "carrot" },
          { text: "Lettuce", value: "lettuce" },
        ],
      };
    },
    methods: {
      onSelect(index) {
        if (this.multiple) {
          const value = this.options[index].value;
          const valueIndex = this.value.indexOf(value);
          if (this.value && valueIndex > -1) {
            this.value.splice(valueIndex, 1);
          } else {
            this.value.push(value);
          }
          this.selectedText = this.value
            .map(
              (value) =>
                this.options.find((option) => option.value === value).text
            )
            .join(", ");
        } else {
          this.value = this.options[index].value;
          this.selectedText = this.options[index].text;
          this.open = false;
        }
      },
      onClick() {
        this.open = !this.open;
      },
    },
  };
</script>
<template>
  <fura-base-dropdown
    :label="label"
    :description="description"
    :invalid="invalid"
    :error-message="errorMessage"
    :disabled="disabled"
    :required="required"
    :borderless="borderless"
    :underlined="underlined"
    :open="open"
    :value="value"
    :selected-text="selectedText"
    :placeholder="placeholder"
    :readonly="readonly"
    :multiple="multiple"
    :marked-index="markedIndex"
    :immediate-scroll="immediateScroll"
    :options="options"
    @select="onSelect"
    @click="onClick"
  />
</template>
