<script>
  export default {
    data() {
      const today = new Date();
      return {
        currentMonth: today.getMonth(),
        currentYear: today.getFullYear(),
        currentView: "days",
        days: ["S", "M", "T", "W", "T", "F", "S"],
        months: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December",
        ],
        firstDayOfTheWeek: 0,
        today,
        value: null,
        goToday: "Go today",
      };
    },
    methods: {
      onSelectDate(value) {
        this.value = value;
      },
      onSelectMonth(month) {
        this.currentMonth = month;
        this.currentView = "days";
      },
      onSelectYear(year) {
        this.currentYear = year;
        this.currentView = "days";
      },
      onSelectView(view) {
        this.currentView = view;
      },
      onNavigate(direction) {
        if (this.currentView === "days") {
          this.currentMonth = (12 + this.currentMonth + direction) % 12;
        } else if (this.currentView === "months") {
          this.currentYear += direction;
        } else if (this.currentView === "years") {
          this.currentYear += direction * 12;
        }
      },
      onClickGoToday() {
        this.currentMonth = this.today.getMonth();
        this.currentYear = this.today.getFullYear();
      },
    },
  };
</script>
<template>
  <fura-base-calendar
    :value="value"
    :current-month="currentMonth"
    :current-year="currentYear"
    :current-view="currentView"
    :days="days"
    :months="months"
    :first-day-of-the-week="firstDayOfTheWeek"
    :today="today"
    :go-today="goToday"
    @selectDate="onSelectDate"
    @selectMonth="onSelectMonth"
    @selectYear="onSelectYear"
    @selectView="onSelectView"
    @navigate="onNavigate"
    @clickGoToday="onClickGoToday"
  />
</template>
