<script>
  export default {
    data() {
      return {
        label: "Spin Button",
        description: "",
        invalid: false,
        errorMessage: "",
        disabled: false,
        required: false,
        borderless: false,
        underlined: false,
        step: 1,
        inc: undefined,
        dec: undefined,
        parse: undefined,
        stringify: undefined,
        modelValue: null,
      };
    },
  };
</script>
<template>
  <fura-spin-button
    :label="label"
    :description="description"
    :invalid="invalid"
    :errorMessage="errorMessage"
    :disabled="disabled"
    :required="required"
    :borderless="borderless"
    :underlined="underlined"
    :step="step"
    :inc="inc"
    :dec="dec"
    :parse="parse"
    :stringify="stringify"
    v-model="modelValue"
  />
</template>
