<script>
  export default {
    data() {
      const today = new Date();
      const day = today.getDay();
      if (day === 0) {
        today.setDate(today.getDate() - 6);
      } else {
        today.setDate(today.getDate() - (day - 1));
      }
      return {
        current: today,
        total: 150,
        finalButtons: true,
        editable: true,
        disablePrev: true,
        disableNext: false,
        pageSize: 30,
      };
    },
    computed: {
      currentText() {
        const { current } = this;
        return `${current.getDate()}/${
          current.getMonth() + 1
        }/${current.getFullYear()}`;
      },
    },
    methods: {
      updateCurrent() {
        this.current = new Date(this.current);
      },
      onPrev() {
        this.current.setDate(this.current.getDate() - 7);
        this.updateCurrent();
      },
      onNext() {
        this.current.setDate(this.current.getDate() + 7);
        this.updateCurrent();
      },
      onStart() {
        this.current.setDate(this.current.getDate() - 7 * 4);
        this.updateCurrent();
      },
      onEnd() {
        this.current.setDate(this.current.getDate() + 7 * 4);
        this.updateCurrent();
      },
    },
  };
</script>
<template>
  <fura-spin-nav
    :current="currentText"
    :endButton="finalButtons"
    :startButton="finalButtons"
    icon-prev="ChevronLeftMed"
    icon-next="ChevronRightMed"
    icon-start="DoubleChevronLeftMed"
    icon-end="DoubleChevronLeftMedMirrored"
    @prev="onPrev"
    @next="onNext"
    @start="onStart"
    @end="onEnd"
  />
</template>
