div {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: max-content;
}

.fura-menu {
  display: block;
  position: absolute;
  box-sizing: border-box;
}

.fura-before {
  right: 100%;
}

.fura-left {
  left: 0px;
}

.fura-hCenter {
  left: 50%;
  transform: translateX(-50%);
}

.fura-right {
  right: 0px;
}

.fura-after {
  left: 100%;
}

.fura-above {
  bottom: 100%;
}

.fura-top {
  top: 0px;
}

.fura-vCenter {
  top: 50%;
  transform: translateY(-50%);
}

.fura-bottom {
  bottom: 0px;
}

.fura-below {
  top: 100%;
}

.fura-hCenter.fura-vCenter {
  transform: translate(-50%, -50%);
}
