@import "../../theme/typography.less";
@import "../../theme/color.less";

@keyframes Spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fura-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fura-top {
  flex-direction: column-reverse;

  .fura-label {
    margin-bottom: 10px;
  }
}

.fura-right {
  flex-direction: row;

  .fura-label {
    margin-left: 10px;
  }
}

.fura-bottom {
  flex-direction: column;

  .fura-label {
    margin-top: 10px;
  }
}

.fura-left {
  flex-direction: row-reverse;

  .fura-label {
    margin-right: 10px;
  }
}

.fura-circle {
  box-sizing: border-box;
  border-radius: 50%;
  border: 1.5px solid @themeLight;
  border-top-color: @themePrimary;
  animation: Spinner-spin 1.3s infinite cubic-bezier(0.53, 0.21, 0.29, 0.67);
  width: 100%;
  height: 100%;

  .fura-large & {
    width: 28px;
    height: 28px;
  }

  .fura-medium & {
    width: 20px;
    height: 20px;
  }

  .fura-small & {
    width: 16px;
    height: 16px;
  }

  .fura-xSmall & {
    width: 12px;
    height: 12px;
  }
}

.fura-label {
  .fontStyleMedium();
  color: @themePrimary;
  text-align: center;
}
