<script>
  export default {
    data() {
      return {
        columns: [{ title: "Name" }, { title: "Value" }],
        groups: Array(4)
          .fill(0)
          .map((_, i) => i * 5)
          .flatMap((i) =>
            i % 10 === 0
              ? [
                  {
                    name: `Group ${i.toString().padStart(3, "0")}`,
                    startIndex: i,
                    count: 0,
                    level: 0,
                  },
                  {
                    name: `Subgroup: ${i.toString().padStart(3, "0")}`,
                    startIndex: i,
                    count: 5,
                    level: 1,
                  },
                ]
              : [
                  {
                    name: `Subgroup: ${i.toString().padStart(3, "0")}`,
                    startIndex: i,
                    count: 5,
                    level: 1,
                  },
                ]
          ),
        data: Array(20)
          .fill(0)
          .map((_, i) => [`Item ${i}`, i.toString()]),
        selectedIndices: [],
      };
    },
    methods: {
      clickHeader(index) {
        console.log(`Click in header ${index}`);
      },
      clickCell(coords) {
        console.log(
          `Click in cell with row ${coords.row} and column ${coords.column}`
        );
      },
    },
  };
</script>
<template>
  <fura-details-list
    :columns="columns"
    :groups="groups"
    :data="data"
    v-model:selected-indices="selectedIndices"
    @click-header="clickHeader"
    @click-cell="clickCell"
  />
</template>
