@import "../../theme/mixin.less";
@import "../../theme/typography.less";
@import "../../theme/var-color.less";
@import "../../theme/animation.less";

@varBackgroundDisabledColor: @varNeutralLighter;
@varBorderColor: @varNeutralSecondary;
@varBorderHoverColor: @varNeutralPrimary;
@varBorderFocusColor: @varThemePrimary;
@varBorderInvalidColor: @varRedDark;

.fura-inputField {
  .normalize();
  .fontStyleMedium();
  position: relative;

  &.fura-disabled {
    pointer-events: none;

    .fura-fieldGroup {
      background-color: @varBackgroundDisabledColor;
    }
  }

  &:not(.fura-disabled):not(.fura-borderless) {
    &:not(.fura-underlined) {
      .fura-fieldGroup::after {
        .borderCss(@color: @varBorderColor);
      }

      .fura-fieldGroup:focus-within::after {
        .borderCss(@color: @varBorderFocusColor, @width: 2px);
      }

      &.fura-invalid .fura-fieldGroup::after {
        border-color: @varBorderInvalidColor;
      }
    }

    .fura-fieldGroup:hover::after {
      border-color: @varBorderHoverColor;
    }
  }
}

.fura-fieldGroup {
  .normalize();
  border: 0;
  background: @varWhite;
  height: 32px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.fura-description {
  color: @varNeutralSecondary;
  font-size: @fontSizeSmall;
}

.fura-errorMessage {
  color: @varRedDark;
  font-size: @fontSizeSmall;
  margin: 0;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.fura-requiredPlaceholder:not([underlined]) .fura-wrapper::after {
  content: "*";
  color: @varRedDark;
  position: absolute;
  top: -5px;
  right: -10px;
}

.fura-underlined {
  .fura-wrapper {
    text-overflow: ellipsis;
    position: relative;
    display: flex;
  }

  .fura-label {
    margin-right: 8px;
    padding-left: 12px;
    line-height: 22px;
    height: 32px;
  }

  &.fura-required .fura-label {
    position: relative;
    margin-right: 10px;

    &::after {
      position: absolute;
      right: -20px;
    }
  }

  .fura-fieldGroup {
    position: relative;
    flex: 1 1 0px;
    max-width: 100%;
    width: 0%;
  }

  &.fura-requiredPlaceholder .fura-fieldGroup::after {
    content: "*";
    color: @varRedDark;
    position: absolute;
    top: -5px;
    right: -10px;
  }

  .fura-wrapper::after {
    .borderBottomCss(@color: @varBorderColor);
  }

  .fura-wrapper:focus-within::after {
    .borderBottomCss(@color: @varBorderFocusColor, @width: 2px);
  }

  &.fura-invalid .fura-wrapper::after {
    border-color: @varBorderInvalidColor;
  }

  &.fura-disabled .fura-wrapper::after {
    border-color: @varBackgroundDisabledColor;
  }
}
