<script>
  export default {
    data() {
      return {
        mousestopDelay: 800,
        items: [
          {
            type: "split",
            text: "New",
            icon: "Add",
            action: () => alert("New"),
            childs: [
              {
                type: "title",
                text: "Actions",
              },
              {
                text: "Upload",
                icon: "Upload",
                iconColor: "salmon",
              },
              {
                text: "Rename",
              },
              {
                text: "Sharing",
                icon: "Share",
                childs: [
                  {
                    text: "Share to Email",
                    icon: "Mail",
                  },
                  {
                    text: "Share to Twitter",
                    icon: "Share",
                  },
                ],
              },
              {
                type: "divider",
              },
              {
                type: "title",
                text: "Navigation",
              },
              {
                text: "Properties",
              },
              {
                text: "Print",
                icon: "Print",
                disabled: true,
              },
              {
                text: "Go to Bing",
              },
            ],
          },
          {
            text: "Upload",
            icon: "Upload",
            action: () => alert("upload"),
          },
          {
            text: "Share",
            icon: "Share",
            childs: [
              {
                text: "Share to Email",
                icon: "Mail",
              },
              {
                text: "Share to Twitter",
                icon: "Share",
              },
            ],
          },
          {
            text: "Download",
            icon: "Download",
          },
          {
            type: "more",
            childs: [
              {
                text: "Move to...",
                icon: "MoveToFolder",
              },
              {
                text: "Copy to...",
                icon: "Copy",
              },
              {
                text: "Rename...",
                icon: "Edit",
              },
              {
                text: "Expand menu",
                action: () => this.expandItems(),
              },
            ],
          },
        ],
      };
    },
    methods: {
      onClick({ item }) {
        if (item.action) {
          item.action();
        }
      },
      onExpand({ item }) {
        item.expanded = !item.expanded;
      },
      expandItems() {
        const items = Array.from(this.items);
        items[0].expanded = true;
        items[0].childs[3].expanded = true;
        this.items = items;
      },
    },
  };
</script>
<template>
  <fura-command-bar-item-collection
    :mousestop-delay="mousestopDelay"
    :items="items"
    @click="onClick"
    @expand="onExpand"
  />
</template>
