<script>
  export default {
    data() {
      return {
        mousestopDelay: 800,
        items: [
          {
            type: "split",
            text: "New",
            icon: "Add",
            action: () => alert("New"),
            childs: [
              {
                type: "title",
                text: "Actions",
              },
              {
                text: "Upload",
                icon: "Upload",
                iconColor: "salmon",
              },
              {
                text: "Rename",
              },
              {
                text: "Sharing",
                icon: "Share",
                childs: [
                  {
                    text: "Share to Email",
                    icon: "Mail",
                  },
                  {
                    text: "Share to Twitter",
                    icon: "Share",
                  },
                ],
              },
              {
                type: "divider",
              },
              {
                type: "title",
                text: "Navigation",
              },
              {
                text: "Properties",
              },
              {
                text: "Print",
                icon: "Print",
                disabled: true,
              },
              {
                text: "Go to Bing",
              },
            ],
          },
          {
            text: "Upload",
            icon: "Upload",
            action: () => alert("upload"),
          },
          {
            text: "Share",
            icon: "Share",
            childs: [
              {
                text: "Share to Email",
                icon: "Mail",
              },
              {
                text: "Share to Twitter",
                icon: "Share",
              },
            ],
          },
          {
            text: "Download",
            icon: "Download",
          },
          {
            type: "more",
            childs: [
              {
                text: "Move to...",
                icon: "MoveToFolder",
              },
              {
                text: "Copy to...",
                icon: "Copy",
              },
              {
                text: "Rename...",
                icon: "Edit",
              },
            ],
          },
        ],
        itemExpandedPath: [],
      };
    },
    methods: {
      onClick(path) {
        let item = { childs: this.items };
        for (let index = 0; index < path.length; index += 1) {
          if (item.childs) {
            item = item.childs[path[index]];
          }
        }
        if (item && item.action) {
          item.action();
        }
      },
      onExpand(path) {
        const coincident = path.every(
          (item, index) => item === this.itemExpandedPath[index]
        );

        if (coincident) {
          this.itemExpandedPath = path.slice(0, -1);
        } else {
          this.itemExpandedPath = path;
        }
      },
    },
  };
</script>
<template>
  <fura-command-bar-item-collection
    :mousestop-delay="mousestopDelay"
    :items="items"
    :item-expanded-path="itemExpandedPath"
    @click="onClick"
    @expand="onExpand"
  />
</template>
