<div style="max-width: 450px">
  <fura-message-bar type="warning" dismiss>
    <b>Warning defaults to multiline</b>. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio
    augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et
    nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor
    et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac
    placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In
    hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh
    pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum
    suscipit magna. Integer porta purus pulvinar, hendrerit felis eget,
    condimentum mauris.
    <a href="www.bing.com" target="_blank">Visit our website.</a>
    <template #actions>
      <div>
        <fura-button style="height: 24px" text="Yes" />
        <fura-button style="height: 24px; margin-left: 8px" text="No" />
      </div>
    </template>
  </fura-message-bar>
</div>
