<script>
  export default {
    data() {
      return {
        mousestopDelay: 800,
        items: [
          {
            value: "newItem",
            text: "New",
            icon: "Add",
            action: () => alert("New"),
            childs: [
              {
                type: "title",
                text: "Actions",
              },
              {
                value: "upload",
                text: "Upload",
                icon: "Upload",
                iconColor: "salmon",
              },
              {
                value: "rename",
                text: "Rename",
              },
              {
                value: "share",
                text: "Sharing",
                icon: "Share",
                childs: [
                  {
                    value: "sharetoemail",
                    text: "Share to Email",
                    icon: "Mail",
                  },
                  {
                    value: "sharetotwitter",
                    text: "Share to Twitter",
                    icon: "Share",
                  },
                ],
              },
              {
                type: "divider",
              },
              {
                type: "title",
                text: "Navigation",
              },
              {
                value: "properties",
                text: "Properties",
              },
              {
                value: "print",
                text: "Print",
                icon: "Print",
                disabled: true,
              },
              {
                value: "bing",
                text: "Go to Bing",
              },
            ],
          },
          {
            value: "upload",
            text: "Upload",
            icon: "Upload",
            action: () => alert("upload"),
          },
          {
            value: "share",
            text: "Share",
            icon: "Share",
            childs: [
              {
                value: "sharetoemail",
                text: "Share to Email",
                icon: "Mail",
              },
              {
                value: "sharetotwitter",
                text: "Share to Twitter",
                icon: "Share",
              },
            ],
          },
          {
            value: "download",
            text: "Download",
            icon: "Download",
            href: "data:text/plain;charset=utf-8,Hello world!",
            download: "hello-world.txt",
          },
        ],
        itemExpandedPath: [],
      };
    },
    methods: {
      onClick(path) {
        let item = { childs: this.items };
        for (let index = 0; index < path.length; index += 1) {
          if (item.childs) {
            item = item.childs[path[index]];
          }
        }
        if (item && item.action) {
          item.action();
        }
      },
      onExpand(path) {
        const coincident = path.every(
          (item, index) => item === this.itemExpandedPath[index]
        );

        if (coincident) {
          this.itemExpandedPath = path.slice(0, -1);
        } else {
          this.itemExpandedPath = path;
        }
      },
    },
  };
</script>
<template>
  <fura-base-block-menu
    :mousestop-delay="mousestopDelay"
    :items="items"
    :item-expanded-path="itemExpandedPath"
    @click="onClick"
    @expand="onExpand"
  >
    <template v-slot="slotProps">
      <div style="display: flex; align-items: center">
        <fura-button
          style="flex-grow: 1"
          :text="slotProps.item.text"
          @click="slotProps.click"
        />
        <fura-expander-button
          v-if="slotProps.item.childs"
          style="flex-grow: 0"
          :expanded="slotProps.item.expanded"
          @click="slotProps.expand"
        />
      </div>
    </template>
    <template v-slot:title="slotProps">
      <fura-label v-text="slotProps.item.text" />
    </template>
  </fura-base-block-menu>
</template>
