<script>
  export default {
    data() {
      return {
        label: "SearchBox",
        description: "",
        invalid: false,
        errorMessage: "",
        disabled: false,
        required: false,
        borderless: false,
        underlined: false,
        icon: "Search",
        placeholder: "Search",
        disableAnimation: false,
        value: "",
      };
    },
  };
</script>
<template>
  <fura-search-box
    :label="label"
    :description="description"
    :invalid="invalid"
    :error-message="errorMessage"
    :disabled="disabled"
    :required="required"
    :borderless="borderless"
    :underlined="underlined"
    :icon="icon"
    :placeholder="placeholder"
    :disable-animation="disableAnimation"
    v-model="value"
  />
</template>
