@import "../../theme/mixin.less";
@import "../../theme/typography.less";
@import "../../theme/var-color.less";

@varAnimationDuration: 0.267s;
@varAnimationEaseFunction: cubic-bezier(0.1, 0.25, 0.75, 0.9);

div {
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  .normalize();
  .fontStyleMedium();
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
}

button {
  .fontStyleMedium();
  font-weight: @fontWeightSemibold;
  display: inline-block;
  cursor: pointer;

  position: relative;

  border: 0;
  outline: transparent;
  white-space: nowrap;
  background: transparent;

  margin: 0 8px 0 0;
  padding: 0 8px;
  box-sizing: border-box;

  height: 44px;
  line-height: 44px;

  overflow: visible;
  text-transform: none;
  text-align: center;
  color: @varNeutralPrimary;
  user-select: none;
}

button:hover {
  background-color: @varNeutralLighter;
  color: @varNeutralDark;
  cursor: pointer;
}

button:active {
  background-color: @varNeutralLight;
}

button::before {
  content: "";
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  height: 2px;
  left: 8px;
  right: 8px;
  transition: left @varAnimationDuration @varAnimationEaseFunction 0s,
    right @varAnimationDuration @varAnimationEaseFunction 0s;
}

button > span {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  cursor: pointer;

  height: 100%;
  white-space: nowrap;
  text-transform: none;
  color: @varNeutralPrimary;
  user-select: none;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

button > span > span {
  white-space: nowrap;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  color: @varNeutralPrimary;
  user-select: none;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  flex: 0 1 100%;
}

.fura-icon {
  margin-left: 0px;
}

.fura-label {
  display: inline-block;
  vertical-align: top;
  margin-left: 4px;
}

.fura-count {
  margin-left: 4px;
  display: inline-block;
  vertical-align: top;
}

button.fura-selected::before {
  background-color: @varThemePrimary;
}

button.fura-selected:hover::before {
  left: 0px;
  right: 0px;
}

.fura-large .fura-label {
  .fontStyleLarge();
}

.fura-tabStyle button.fura-selected {
  margin: 0;
  padding: 0 10px;
  color: @varWhite;
  background-color: @varThemePrimary;
  vertical-align: top;
}

.fura-tabStyle button::before {
  background-color: transparent;
  bottom: 0px;
  content: "";
  height: auto;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: none 0s ease 0s;
}

.fura-tabStyle button.fura-selected .fura-icon,
.fura-tabStyle button.fura-selected .fura-label,
.fura-tabStyle button.fura-selected .fura-count {
  color: @varWhite;
}
