@import "../../theme/typography.less";
@import "../../theme/color.less";

.fura-collection {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.fura-item {
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  display: block;
  height: 36px;

  .fura-more::v-deep(.fura-icon) {
    color: @neutralPrimary;
  }
}

.fura-submenu {
  position: absolute;
}
