<script>
  export default {
    data() {
      return {
        value: null,
        months: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December",
        ],
      };
    },
    methods: {
      onSelect(value) {
        this.value = value;
      },
    },
  };
</script>
<template>
  <fura-base-calendar-months
    :value="value"
    :months="months"
    @select="onSelect"
  />
</template>
