<script>
  export default {
    data() {
      return {
        options: [
          { icon: "AlignCenter", value: "center" },
          { icon: "AlignLeft", value: "left" },
          { icon: "AlignRight", value: "right" },
          { icon: "AlignJustify", value: "justify" },
        ],
        value: null,
      };
    },
  };
</script>
<template>
  <fura-choice-group
    in-row
    label="ChoiceGroup"
    :options="options"
    v-model="value"
    v-slot:default="slotProps"
  >
    <div>
      <fura-icon
        :name="slotProps.option.icon"
        style="font-size: 4em; margin: 15px 5px"
      />
    </div>
    <div>
      <fura-label v-text="slotProps.option.icon" />
    </div>
  </fura-choice-group>
</template>
