@import "../../theme/mixin.less";
@import "../../theme/color.less";
@import "../../theme/typography.less";

/* Row */

tr {
  height: 42px;
}

.header,
.data {
  border-bottom: 1px solid @neutralLight;
}

.group {
  border-bottom: 1px solid @white;
}

.data:hover,
.group:hover {
  background: @neutralLighter;
}

/* Row -> Selected */

.data.selected,
.group.selected {
  background: @neutralLight;
  border-bottom: 1px solid @white;
}

/* Check */

.checkboxCell {
  width: 48px;

  > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;

    tr:hover > & {
      opacity: 1;
    }
  }
}

/* Check -> selected */

.header.selected .checkboxCell > div,
.data.selected .checkboxCell > div {
  opacity: 1;
}

/* Compact */

.compact {
  height: 32px;
  border-bottom: 0;

  td > div {
    height: 32px;
    min-height: 32px;
  }
}
