<script>
  export default {
    data() {
      return {
        visibleLight: false,
        visibleDark: false,
      };
    },
  };
</script>
<template>
  <div style="position: relative; height: 100%">
    <div>
      <fura-button text="Show light overlay" @click="visibleLight = true" />
    </div>
    <div>
      <fura-button text="Show dark overlay" @click="visibleDark = true" />
    </div>
    <fura-overlay v-if="visibleLight">
      <fura-button text="Dismiss" @click="visibleLight = false" />
    </fura-overlay>
    <fura-overlay v-if="visibleDark" dark>
      <fura-button text="Dismiss" @click="visibleDark = false" />
    </fura-overlay>
  </div>
</template>
